@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

.navbar-container {
  background: linear-gradient(126.95deg, #91a2cd 0%, #008716 51.69%),
    linear-gradient(126.95deg, #ffffff 0%, #00273d 49.48%),
    radial-gradient(100% 216.55% at 100% 100%, #a4be00 0%, #6100ff 100%),
    linear-gradient(307.27deg, #1dac92 0.37%, #2800c6 100%),
    radial-gradient(100% 140% at 100% 0%,

      #006c7a 57.29%,
      #2200aa 100%);
  background-blend-mode: overlay, overlay, difference, difference, normal;
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
}

.text-gradient-1 {
  background: linear-gradient(287.43deg,
      #774dff 33.27%,
      #239eb9 61.72%,
      #d73e87 82.93%);
  -webkit-background-clip: text !important;
  background-size: cover;
  -webkit-text-fill-color: transparent;
}

.continuous-line {
  background: linear-gradient(currentColor 0 0) var(--d, 201%) 100% /200% 1.5px no-repeat;
  transition: 0.5s;
  width: fit-content;
}

.continuous-line:hover {
  --d: -101%;
}

.shine {
  position: relative;
  overflow: hidden;
  transition: all 100ms linear;
}

.shine::after {
  content: "";
  top: -50%;
  display: block;
  width: 40%;
  height: 200%;
  left: -55%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  transform: rotate(25deg);
  transition: 0.5s;
}

.shine:hover::after {
  left: 120%;
}

/* Menu toggle animation */
/* mobile menu toggle button */
.menu-toggle span {
  margin: 0 auto;
  position: relative;
  transition-duration: 0s;
  transition-delay: 0.2s;
  margin: 8px 0px;
  transition: background-color 0.3s;
}

.menu-toggle span:before,
.menu-toggle span:after {
  position: absolute;
  content: "";
}

.menu-toggle span,
.menu-toggle span:before,
.menu-toggle span:after {
  width: 20px;
  height: 2px;
  background-color: #fff;
  display: block;
  opacity: 1;
}

.menu-toggle span:before {
  margin-top: -6px;
  transition-property: margin, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0;
}

.menu-toggle span:after {
  margin-top: 6px;
  transition-property: margin, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s, 0;
}

.menu-toggle-active span {
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s background-color;
}

.menu-toggle-active span:before {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0, 0.2s;
}

.menu-toggle-active span:after {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0, 0.2s;
}

/* Loader */
.spinner {
  margin: 100px auto 0;
  width: 270px;
  text-align: center;
}

.spinner>div {
  width: 20px;
  height: 20px;
  background: linear-gradient(287.43deg,
      #764dff 33.27%,
      #239eb9 61.72%,
      #d73e87 82.93%);
  margin: 0 10px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Loader Home */

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px solid #240229;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
    10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.loader:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  z-index: 10;
  background: #282828;
  border-radius: 50%;
  border: 2px solid #240229;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
    inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(-225deg,
      #ff7402 0%,
      #ffe700 50%,
      #fff55e 100%);

  filter: blur(20px);
  z-index: -1;
  animation: animate 0.5s linear infinite;
}

.btn {
  padding: 0 !important;
  width: min-content;
}

.header-btn {
  width: 2rem !important;
}

.gradient-shadow {
  box-shadow: 0px 10px 40px -10px rgba(0, 64, 128, 0.1);
  transition: 0.5s;
}

.gradient-shadow:hover {
  box-shadow: 0 21px 36px 0 rgba(0, 64, 128, 0.3);
}

.box {
  background: rgba(255, 254, 254, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.icons-bg {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwIiBoZWlnaHQ9IjEyMCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDYwQzAgNDIuNiA0Mi42IDAgNjAgMEM3Ny40IDAgMTIwIDQyLjYgMTIwIDYwQzEyMCA3Ny40IDc3LjQgMTIwIDYwIDEyMEM0Mi42IDEyMCAwIDc3LjQgMCA2MFoiIGZpbGw9InVybCgjcGFpbnQwX2xpbmVhcikiLz4KPGRlZnM+CjxsaW5lYXJHcmFkaWVudCBpZD0icGFpbnQwX2xpbmVhciIgeDE9IjQwIiB5MT0iLTEuMzUxMDRlLTA2IiB4Mj0iNzciIHkyPSIxMjQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0RDMDdGRiIvPgo8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiMyQjYyRkYiLz4KPC9saW5lYXJHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K);
  background-size: cover;
}

.text-gradient {
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.text-gradient-heading {
  background: linear-gradient(90.92deg,
      #774dff 2.63%,
      #239eb9 48.37%,
      #d73e87 88.04%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-size: 300%;
  background-position: -100%;
  animation: animatehead 10s infinite alternate-reverse;
}

@keyframes animatehead {
  to {
    background-position: 100%;
  }
}

input.error {
  border: 2px solid var(--clr-red-dark);
}

.colors {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}

.color {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: none;
}

.percent-value {
  margin-bottom: 0;
  color: var(--clr-grey-1);
}

.color-value {
  color: var(--clr-grey-1);
  margin-bottom: 0;
}

.color-light .color-value {
  color: #fff;
}

.color-light .percent-value {
  color: #fff;
}

.alert {
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.hero-container {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

.hero-container2 {
  background: linear-gradient(328.78deg, #030086 14.45%, #bd6177 84.36%),
    linear-gradient(301.28deg, #209b4a 0%, #7000ff 100%),
    radial-gradient(100% 138.56% at 100% 0%, #d50000 0%, #00ffe0 100%),
    radial-gradient(100% 148.07% at 0% 0%, #d50000 0%, #00ffff 100%);
  background-blend-mode: soft-light, overlay, difference, normal;
}

.hero-container3 {
  background: linear-gradient(126.95deg,
      #91a2cd 0%,
      #008716 51.69%,
      #ff9900 100%),
    linear-gradient(126.95deg, #ffffff 0%, #00273d 49.48%, #ff9900 100%),
    radial-gradient(100% 216.55% at 100% 100%, #a4be00 0%, #6100ff 100%),
    linear-gradient(307.27deg, #1dac92 0.37%, #2800c6 100%),
    radial-gradient(100% 140% at 100% 0%,
      #eaff6b 0%,
      #006c7a 57.29%,
      #2200aa 100%);
  background-blend-mode: overlay, overlay, difference, difference, normal;
}

.hero-container4 {
  background: linear-gradient(126.95deg,
      #91a2cd 0%,
      #008716 51.69%,
      #ff9900 100%),
    linear-gradient(126.95deg, #ffffff 0%, #00273d 49.48%),
    radial-gradient(100% 216.55% at 100% 100%, #a4be00 0%, #6100ff 100%),
    linear-gradient(307.27deg, #1dac92 0.37%, #2800c6 100%),
    radial-gradient(100% 140% at 100% 0%,
      #eaff6b 0%,
      #006c7a 57.29%,
      #2200aa 100%);
  background-blend-mode: overlay, overlay, difference, difference, normal;
}

.bg-app-gradient-2 {
  background: linear-gradient(287.43deg,
      #764dff 33.27%,
      #239eb9 61.72%,
      #d73e87 82.93%);
}

.absolute-center {
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.modal__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.19);
  backdrop-filter: blur(6px);
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  z-index: 100;
}

.modal__align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal__content {
  //width: 800px;
  //height: 500px;
  border-radius: 12px;
  background: transparent;
  color: #000;
  margin: 0rem 4rem;
}

.modal__close {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  bottom: 50px;
  width: 32px;
  height: 32px;
  padding: 0;
}

.modal__video-align {
  display: flex;
  position: relative;
  bottom: 37px;
}

.modal__video-style {
  border-radius: 20px;
  z-index: 100;
}

.modal__spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__spinner {
  animation: spin 2s linear infinite;
  font-size: 40px;
  color: #1b6aae;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .modal__content {
    margin: 0rem 1rem;
    width: 100%;
  }

  .modal__video-style {
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  .modal__content {
    background: transparent;
    height: auto;
  }

  .modal__video-align {
    bottom: 0px;
  }

  .modal__video-style {
    height: auto;
  }
}